# target Keycloak URL
keycloakServerBaseURL = http://localhost:8080
adminRealm = master
adminUsername = admin
adminPwd = admin
adminClientId = admin-cli
realm = spid

# official IdP list repository
spidMetadataOfficialURL = https://registry.spid.gov.it/assets/data/idp.json

# AgID SPID Demo Validator
createSpidDemoIdP = true
spidDemoIdPAlias = Demo
spidDemoIdPMetadataURL = https://demo.spid.gov.it/validator/metadata.xml

# AgID SPID Validator (for accreditamento)
createSpidValidatorIdP = true
spidValidatorIdPAlias = Validator
spidValidatorIdPDisplayName = SPID Validator
spidValidatorIdPMetadataURL = https://validator.spid.gov.it/metadata.xml

# local spid 
createSpidTestIdP = false
spidTestIdPAlias = spid-testenv2
spidTestIdPMetadataURL = http://localhost:8088/metadata

# additional metadata info as per Avviso SPID №29 versione 3
organizationDisplayNames = en|Organization name,it|Organization name
attributeConsumingServiceName = en|organization.com,it|organization.com

# Please note:
# Authentication Flow "First Broker Login (SPID)" must be created: 
# https://github.com/italia/spid-keycloak-provider/wiki/Configuring-the-Authentication-Flow
# official organizationNames can be retrieved from 
# https://indicepa.gov.it/ipa-portale/consultazione/indirizzo-sede/ricerca-ente

organizationNames = en|Organization name from IndicePA,it|Organization name from IndicePA
otherContactPhone = +3912345678
otherContactEmail = test@pec.it
otherContactIpaCode = xxxxxx
organizationUrls = en|https://organization.com,it|https://organization.com